body {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 40px;
    border: none;
    outline: none;
    border: 1px solid #0088ff;
    border-radius: 5px;
    text-align: center;

    width: 100%;
    margin: 5px 0;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    margin: 20px;
    text-transform: capitalize;
    font-size: 20px;
}

.time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    height: 50px;
    color: white; 
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100%;
    background: #0088ff;
    margin: 10px 0;
}